<div class="col-md-12" *ngIf="currentUser; else loggedOut">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="login">Login</label>
        <input
          type="text"
          class="form-control"
          name="login"
          [(ngModel)]="currentUser.login"
          required
          minlength="3"
          maxlength="20"
          #login="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && login.invalid">
          <div *ngIf="login.errors.required">login is required</div>
          <div *ngIf="login.errors.minlength">
            login must be at least 3 characters
          </div>
          <div *ngIf="login.errors.maxlength">
            login must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="currentUser.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="firstName"
          maxlength="50"
          class="form-control"
          name="firstName"
          [(ngModel)]="currentUser.firstName"
          required
          firstName
          #firstName="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && firstName.invalid">
          <div *ngIf="firstName.errors.required">FirstName is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="lastName"
          maxlength="50"
          class="form-control"
          name="lastName"
          [(ngModel)]="currentUser.lastName"
          required
          lastName
          #lastName="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && firstName.invalid">
          <div *ngIf="firstName.errors.required">FirstName is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          maxlength="50"
          class="form-control"
          name="email"
          [(ngModel)]="currentUser.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="birthday">Birthday</label>
        <input
          type="date"
          class="form-control"
          name="birthday"
          [(ngModel)]="currentUser.birthday"
          birthday
          #birthday="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          maxlength="30"
          type="phone"
          class="form-control"
          name="phone"
          [(ngModel)]="currentUser.phone"
          #firstName="ngModel"
        />
      </div>
      <div class="form-group">
        <button id="btSave" (click)="onSubmit()" class="btn btn-primary btn-block">Save</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Saving user failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Successfuly user saved!
    </div>
  </div>

  <div class="card card-container-table">
    <table cdk-table [dataSource]="currentUser.cars">
      <!-- Position Column -->
      <ng-container cdkColumnDef="id">
        <th cdk-header-cell *cdkHeaderCellDef> Id </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.id}} </td>
        
      </ng-container>
    
      <!-- Name Column -->
      <ng-container cdkColumnDef="model">
        <th cdk-header-cell *cdkHeaderCellDef> Modelo </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.model}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container cdkColumnDef="licensePlate">
        <th cdk-header-cell *cdkHeaderCellDef> License Plate </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.licensePlate}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container cdkColumnDef="year">
        <th cdk-header-cell *cdkHeaderCellDef> Year </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.year}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container cdkColumnDef="color">
        <th cdk-header-cell *cdkHeaderCellDef> Color </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.color}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container cdkColumnDef="country">
        <th cdk-header-cell *cdkHeaderCellDef> Country </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.country}} </td>
      </ng-container>

      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef> Actions
          <button (click)="onAdd()" mat-mini-fab enabled aria-label="Add Car">
            <mat-icon>add</mat-icon>
          </button>  
        </th>
        <td cdk-cell *cdkCellDef="let row"> 
        <div class="inner-button-grid">
          <button (click)="onEdit(row.id)" mat-mini-fab enabled aria-label="Edit Car">
            <mat-icon>edit</mat-icon>
          </button> 
        </div>
        <div class="inner-button-grid">
          <button (click)="onDelete(row.id)" mat-mini-fab enabled aria-label="Remove Car">
            <mat-icon>delete</mat-icon>
          </button> 
        </div>
        </td>
      </ng-container>

    
      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;" ></tr>
    </table>
  </div>

  <p class="bottom-info">
    <strong>Created:</strong>
    {{ format(currentUser.dhCreation)  }} |
    <strong>LastUpdate:</strong>
    {{ format(currentUser.dhLastUpdate)  }} |
    <strong>LastLogin:</strong>
    {{ format(currentUser.dhLastLogin)  }}  
  </p>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>